body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.containerDrop {
  display: flex;
  touch-action: none;
  margin: 1rem auto;
}

.dropzone {
  flex: 1;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-item {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.grid-item-content {
  width: 245px;
  height: 195px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.react-grid-layout {
  background-color: gray;
}

.remove {
  cursor: pointer;
}
